<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtendedMaxSize" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="QuanLiBanHang_Service.BanHangService">
        <endpoint address="NhanVien" binding="basicHttpBinding"  contract="QuanLiBanHang_Service.Interface.INhanVien" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="PhieuNhap" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IPhieuNhap" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="PhieuXuat" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IPhieuXuat" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="HoaDon" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IHoaDon" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="KhachHang" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IKhachHang" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="PhieuThu" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IPhieuThu" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="SanPham" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.ISanPham" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="DonVi" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IDonVi" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="DonViTinh" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IDonViTinh" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="NhomSanPham" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.INhomSanPham" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="BaoGia" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IBaoGia" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="DonDatHang" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.IDonDatHang" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="NhanNgonNgu" binding="basicHttpBinding" contract="QuanLiBanHang_Service.Interface.INhanNgonNgu" bindingConfiguration="ExtendedMaxSize">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/QuanLiBanHang_Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
       <!--<add name="strConnection" connectionString="Database=QuanLiBanHang;Server=THUC-PC\SQLEXPRESS;Uid=plaster502;Pwd=Zenda2411; pooling=false;"/>-->
       <add name="QuanLiBanHangEntities" connectionString="metadata=res://*/Model.QuanLiBanHangModel.csdl|res://*/Model.QuanLiBanHangModel.ssdl|res://*/Model.QuanLiBanHangModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zendadb.database.windows.net;initial catalog=QuanLiBanHang;user id=plaster502;password=Zenda2411;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
       <!--<add name="strConnection" connectionString="Server=tcp:zendadb.database.windows.net,1433;Initial Catalog=QuanLiBanHang;Persist Security Info=False;User ID=plaster502;Password=Zenda2411;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
   </connectionStrings>
</configuration>

