<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MaxBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="QuanLiBanHang_Service.BanHangService">
        <endpoint address="BaoGia" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="BaoGia" contract="QuanLiBanHang_Service.Interface.IBaoGia"/>
        <endpoint address="DonDatHang" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="DonDatHang" contract="QuanLiBanHang_Service.Interface.IDonDatHang"/>
        <endpoint address="NhanNgonNgu" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="NhanNgonNgu" contract="QuanLiBanHang_Service.Interface.INhanNgonNgu"/>
        <endpoint address="NhomSanPham" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="NhomSanPham" contract="QuanLiBanHang_Service.Interface.INhomSanPham"/>
        <endpoint address="DonViTinh" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="DonViTinh" contract="QuanLiBanHang_Service.Interface.IDonViTinh"/>
        <endpoint address="DonVi" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="DonVi" contract="QuanLiBanHang_Service.Interface.IDonVi"/>
        <endpoint address="SanPham" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="SanPham" contract="QuanLiBanHang_Service.Interface.ISanPham"/>
        <endpoint address="PhieuThu" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="PhieuThu" contract="QuanLiBanHang_Service.Interface.IPhieuThu"/>
        <endpoint address="KhachHang" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="KhachHang" contract="QuanLiBanHang_Service.Interface.IKhachHang"/>
        <endpoint address="HoaDon" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="HoaDon" contract="QuanLiBanHang_Service.Interface.IHoaDon"/>
        <endpoint address="PhieuXuat" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="PhieuXuat" contract="QuanLiBanHang_Service.Interface.IPhieuXuat"/>
        <endpoint address="PhieuNhap" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="PhieuNhap" contract="QuanLiBanHang_Service.Interface.IPhieuNhap"/>
        <endpoint address="NhanVien" binding="basicHttpBinding" bindingConfiguration="MaxBinding" name="NhanVien" contract="QuanLiBanHang_Service.Interface.INhanVien"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!--<add name="strConnection" connectionString="Database=QuanLiBanHang;Server=THUC-PC\SQLEXPRESS;Uid=plaster502;Pwd=Zenda2411; pooling=false;"/>-->
    <add name="QuanLiBanHangEntities" connectionString="metadata=res://*/Model.QuanLiBanHangModel.csdl|res://*/Model.QuanLiBanHangModel.ssdl|res://*/Model.QuanLiBanHangModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zendadb.database.windows.net;initial catalog=QuanLiBanHang;user id=plaster502;password=Zenda2411;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="strConnection" connectionString="Server=tcp:zendadb.database.windows.net,1433;Initial Catalog=QuanLiBanHang;Persist Security Info=False;User ID=plaster502;Password=Zenda2411;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  </connectionStrings>
</configuration>